{% extends "inventory/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
<script src="{% static 'inventory/JS/script.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="col-md-7 col-lg-8">
    <h4 class="mb-3">New menu item</h4>
    <form class="needs-validation" novalidate="" method="post" action="{% url 'create_menu' %}">
      {% csrf_token %}


      {{menu_form.name}}<br>

      {{menu_form.price}}<br>
      
     
      


      <div class="row g-3">
        

        <div class="col-12">
          <label for="ingredients" class="form-label">Ingredients</label>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Ingredients</button>
            <ul class="dropdown-menu dropdown-menu-end">
              {% for option in inventory %}
                <li>
                  <a class="dropdown-item" href="#" data-id="{{ option.id }}" data-name="{{ option.name }}" data-unit="{{ option.unit }}">{{ option.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div id="selected-ingredients-container" class="mb-3"></div>
          <select id="ingredients" name="ingredients" class="d-none" multiple>
            {% for option in inventory %}
              <option value="{{ option.id }}">{{ option.name }}</option>
            {% endfor %}
          </select>
        </div>

        <br class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit" >Submit</button>
      </div>
    </form>
  </div>
  
{% endblock content %}