{% extends "inventory/base.html" %}
{%load static%}
{% block head %}

{% endblock head %}


{% block content %}
<div class="container">
<div class=" row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-between  ">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Orders</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Enter in new recipes along with their recipe requirements, and how much that menu item cost</li>
          </ul>

          <button type="button" class="w-100 btn btn-lg btn-outline-primary">New</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Recipes</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Enter in a customer purchase of a menu item.</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Update</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Inventory</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Add to the inventory a name of an ingredient, its price per unit, and how much of that item is available.</li>
          </ul>
          <a href="{% url 'inventory' %}"><button type="button" class="w-100 btn btn-lg btn-primary">Update</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}