html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.d-flex.flex-column.min-vh-100 {
    flex: 1;
}

footer {
    background-color: #f8f9fa; /* Example background color */
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}